name: CI/CD para FastAPI con Poetry (Python 3.9.13)

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'  # Puedes mantener la versión 3.9

      - name: Instalar Poetry
        run: pip install poetry

      - name: Instalar dependencias
        run: poetry install

      - name: Instalar librerías adicionales
        run: poetry lock --no-update

      - name: Ejecutar Pruebas Unitarias
        env:
          ENV: TESTING
          MODE_TEST: Unit
        run: pytest -m unit
